DATABASE_URL="mysql://root@localhost:3306/meshtastic-map?connection_limit=100"
# For the public Meshtastic broker, use the regional topic root:
# MQTT_OPTS="--mqtt-client-id meshtastic-map-my-host --identity-source-url https://meshmap.net/nodes.json"
# Optional dedicated failsafe if you want a second backfill source in addition to the main one:
# MQTT_OPTS="--mqtt-client-id meshtastic-map-my-host --identity-source-url https://meshmap.net/nodes.json --identity-name-failsafe-url https://meshtastic.pugetmesh.org/api/v1/nodes"
MAP_PORT=8081
